body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

#header{
    width:100%;
    overflow:hidden;
    background: #00bfff;
    padding: 6px 0px;
    position: fixed;
}

nav li{
    list-style-type: none;
    float: right;
    margin-top: 2px;
}

header h1 {
  color: #ffffff;
-webkit-text-stroke-width: 0.05px;
-webkit-text-stroke-color: #000;
  font-size: 70px;
  font-family: Alfa Slab One;
  text-align: center;
  vertical-align: middle;
  background-color: #00bfff;
  line-height:320px;
  height: 320px;
  margin-top:0px;
  padding-top: 40px;
  padding:30px;
}

header {
  background-image: url(img/bg_header.jpg);
  height: 450px;
  padding-top: 30px;
}

nav {
  overflow: hidden;
  background-color: #00bfff;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
    display: block;
  
}

nav a:hover {
  color: #ffcc11;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}



ul {
  list-style-type: none;
  padding-left: 0;
}

section {
    width: 500px;
    margin: 0 auto;
}

.creation .container{
    display: grid;
    gap:10px;
    grid-template-columns:300px 300px;
    grid-template-rows: 200px;
}

.block{
    background:#ddd;
    padding:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

.icon {
    padding:10px;
}

#twitter-icon{
    color: #55acee;
}

#facebook-icon{
    color: #3b5998;
}

footer {
  text-align: center;
  color: #ffffff;
  background: #00bfff;
}
